//FONTS

$header-font: 'Questrial', Helvetica, Arial, sans-serif;
$copy-font: 'Helvetica Neue', Helvetica, Arial, sans-serif;

//COLORS

$cfr-maroon: #411c0b;
$cfr-beige: #f8f5ef;
$cfr-black: #1c1c1c;
$white: #fff;


//BREAKPOINTS

$break-phone: 480px;
$break-tablet: 481px;
$desktop: 1024px;





